body {
	background-color: #ffffff;
	text-align: center;
	margin: 0px;
	font: 10pt Arial, Helvetica, sans-serif;
	}
	
.izquierda {
	width: 300px;
	height: 800px;
	padding: 10px;
	float: left;
	text-align: justify;
	border-right: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
	background-color: #ffcc99;
	
	}
	
.izquierda img {
	padding-bottom: 40px;
}

.izquierda ul {
	color: blue;
}
	
.derecha {
	padding: 60px;
	height: 700px;
	text-align: justify;
	margin-left: 320px;
	font-size: 20px;
	background-color: #ffcccc;
}

.derecha h1 {
	text-align: left;
}

.derecha h2 {
	text-align: left;
	color: blue;
}

.derecha h3 {
	text-align: center;
	color: green;
}


}
